@import '~@styles/global.scss';

#wraper-contain-card-bar {
  min-height: 100%;
  padding-bottom: $code-bar-height;
}

#card-bar {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: $code-bar-height;
  color: $black-700;
  font-size: 40px;
  background-color: $white;
  border-top: 1px solid $black-075;

  &-buttoms-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    & > button {
      margin: 10px;
    }
  }
}
