@import '~@styles/global.scss';

#wraper-contain-card-bar {
  height: 100%;
  padding-bottom: $code-bar-height;
}

#card-bar {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  position: fixed;
  font-size: 40px;
  color: $black-700;
  height: $code-bar-height;
  border-top: 1px solid $black-075;
}
