@import '~@styles/global.scss';

.practice {
  width: 700px;
  margin: auto;
  padding: 20px 0;
}

.horizontal-line {
  width: calc(100% + 100px);
  margin: 20px 0;
  border-top: 1px solid $black-100;
  transform: translate(-50px);
}
