@import '~@styles/color.scss';

.register {
  padding-top: 60px;

  .register-container {
    width: 400px;
    margin: auto;
    padding: 30px 20px;

    .form {

    }

    .logo {
      display: block;
      width: 60px;
      margin: auto;
      padding: 20px 0;
    }

    footer {
      display: flex;
      justify-content: center;

      span {
        color: $blue;
        cursor: pointer;
      }
    }
  }
}
