@import '~@styles/color.scss';
@import '~@styles/mixin.scss';

$header-height: 60px;
$code-bar-height: 80px;
$app-width: 960px;

#app,
#root {
  height: 100%;
  min-height: 100%;
}

.ul-format {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.full {
  width: 100%;
  height: 100%;
}

.bg-gray {
  background-color: #f6f8fa !important;
}

.bg-write {
  background-color: #ffffff !important;
}

.hr {
  margin: 7px 0;
  border-top: 1px solid $black-150;
}

.a {
  color: $blue;
  cursor: pointer;
}
