@import '~@styles/color.scss';
@import '~@styles/mixin.scss';

$header-height: 60px;
$code-bar-height: 80px;
$app-width: 960px;

#app,
#root {
  min-height: 100%;
}

.ul-format {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
