@import '~@styles/color.scss';

.new-pwd {
  display: flex;
  justify-content: center;
  padding-top: 200px;

  .container {
    width: 300px;
    padding: 20px;
    border: 1px solid $black-200;
    border-radius: 5px;
  }
}
