@import "~@styles/global.scss";

#ecode-header{
  font-size: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 1000;
  border-bottom: 1px solid $border-color;
  color: $font-color;
}