@import '~@styles/global.scss';

#wraper-contain-header {
  height: 100%;
  padding-top: $header-height;
}

#ecode-header {
  font-size: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  z-index: 1000;
  border-bottom: 1px solid $black-075;
  color: $black-700;
  background-color: $black-025;
  box-shadow: $bs-sm;
}
