@import '~@styles/color.scss';

.login {
  padding-top: 60px;

  .login-container {
    width: 400px;
    margin: auto;
    padding: 30px 20px;

    .logo {
      display: block;
      width: 60px;
      margin: auto;
      padding: 20px 0;
    }

    footer {
      display: flex;
      justify-content: space-between;
      color: $blue;
      cursor: pointer;
    }
  }
}
